= render "registration/registration_header_info"
.member
  .member-info
    %h2.member-info__title
      会員情報入力
    .member-info__form
      = form_for @user, url: step2_signup_index_path, method: :get, html: {class: 'forth-main-wrapper__box'} do |f|
        .member-info__form--top
          .member-info__field--different
            .member-info__name
              .member-info__field--label
                ニックネーム
                %span.member-info__field--required
                  必須
            .member-info__field--placeholder
              = f.text_field :nickname, autofocus: true, placeholder: "例）メルカリ太郎",class: "member-info__field--input"
          .member-info__field
            .member-info__name
              .member-info__field--label
                メールアドレス
                %span.member-info__field--required
                  必須
            .member-info__field--placeholder
              = f.email_field :email, autofocus: true, placeholder: "PC・携帯どちらでも可",class: "member-info__field--input"
          .member-info__field
            .member-info__name
              .member-info__field--label
                パスワード
                %span.member-info__field--required
                  必須
            .member-info__field--placeholder
              = f.password_field :password, autofocus: true, placeholder: "7文字以上の半角英数字",class: "member-info__field--input"
              %p.member-info__text--gray
                ※ 英字と数字の両方を含めて設定してください
            .member-info__password
              = f.label :password_confirmation ,"パスワードを表示する",class:"member-info__field--chenge"
          .member-info__field  
            %h3.member-info__field--human
              本人確認
            %p.member-info__field--chenge
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .member-info__field
            .member-info__name
              .member-info__field--label
                お名前(全角)
                %span.member-info__field--required
                  必須
            .member-info__field--placeholder
              .member-info__box
                = f.text_field :last_name, autofocus: true, placeholder: "例）山田",class: "member-info__field--input"
                = f.text_field :fast_name, autofocus: true, placeholder: "例）彩",class: "member-info__field--input"
          .member-info__field
            .member-info__name
              .member-info__field--label
                お名前カナ(全角)
                %span.member-info__field--required
                  必須
            .member-info__field--placeholder
              .member-info__box
                = f.text_field :last_name_kana, autofocus: true, placeholder: "例）ヤマダ",class: "member-info__field--input"
                = f.text_field :fast_name_kana, autofocus: true, placeholder: "例）アヤ",class: "member-info__field--input"
          .member-info__field
            .member-info__field--label
              .member-info__name
                生年月日
                %span.member-info__field--required
                  必須
              .member-info__field_birthday
                .member-info__field_birthday__year
                  = f.select :birth_year, ２０２０: 2020,２０１９: "2019",２０１８: "2018",２０１７: "2017",２０１６: "2016",２０１５: "2015",２０１４: "2014",２０１３: "2013",２０１２: "2012",２０１１: "2011",２０１０: "2010",２００９: "2009",２００８: "2008",２００７: "2007",２００６: "2006",２００５: "2005",２００４: "2004",２００３: "2003",２００２: "2002",２００１: "2001",２０００: "2000",１９９９: "1999",１９９８: "1998",１９９７: "1997",１９９６: "1996",１９９５: "1995",１９９４: "1994",１９９３: "1993",１９９２: "1992",１９９１: "1991",１９９０: "1990",１９８９: "1989",１９８８: "1988",１９８７: "1997",１９８６: "1986",１９８５: "1985",１９８４: "1984",１９８３: "1983",１９８２: "1982",１９８１: "1981",１９８０: "1980",１９７９: "1979",１９７８: "1978",１９７７: "1977",１９７６: "1976",１９７５: "1975",１９７４: "1974",１９７３: "1973",１９７２: "1972",１９７１: "1971",１９７０: "1970",１９６９: "1969",１９６８: "1968",１９６７: "1967",１９６６: "1966",１９６５: "1965",１９６４: "1964",１９６３: "1963",１９６２: "1962",１９６１: "1961",１９６０: "1960",１９５９: "1959",１９５８: "1958",１９５７: "1957",１９５６: "1956",１９５５: "1955",１９５４: "1954",１９５３: "1953",１９５２: "1952",１９５１: "1951",１９５０: "1950",１９４９: "1949",１９４８: "1948",１９４７: "1947",１９４６: "1946",１９４５: "1945",１９４４: "1944",１９４３: "1943",１９４２: "1942",１９４１: "1941",１９４０: "1940",１９３９: "1939",１９３８: "1938",１９３７: "1937",１９３６: "1936",１９３５: "1935",１９３４: "1934",１９３３: "1933",１９３２: "1932",１９３１: "1931",１９３０: "1930",１９２９: "1929",１９２８: "1928",１９２７: "1927",１９２６: "1926",１９２５: "1925",１９２４: "1924",１９２３: "1923",１９２２: "1922",１９２１: "1921",１９２０: "1920",１９１９: "1919",１９１８: "1918",１９１７: "1917",１９１６: "1916",１９１５: "1915",１９１４: "1914",１９１３: "1913",１９１２: "1912",１９１１: "1911",１９１０: "1010",１９０９: "1909",１９０８: "1908",１９０７: "1907",１９０６: "1906",１９０５: "1905",１９０４: "1904",１９０３: "1903",１９０２: "1902",１９０１: "1901",１９００: "1900"
                %span.birth_date 年
                .member-info__field_birthday__month       
                  = f.select :birth_month, ０１: 1, ０２: "2", ０３: "3", ０４: "4", ０５: "5", ０６: "6", ０７: "7", ０８: "8", ０９: "9", １０: "10", １１: "11", １２: "12"
                %span.birth_date 月
                .member-info__field_birthday__day
                  = f.select :birth_day, ０１: 1, ０２: "2", ０３: "3", ０４: "4", ０５: "5", ０６: "6", ０７: "7", ０８: "8", ０９: "9", １０: "10", １１: "11", １２: "12", １３: "13", １４: "14", １５: "15", １６: "16", １７: "17", １８: "18", １９: "19", ２０: "20", ２１: "21", ２２: "22", ２３: "23", ２４: "24", ２５: "25", ２６: "26", ２７: "27", ２８: "28", ２９: "29", ３０: "30", ３１: "31"
                %span.birth_date 日          
          %p.member-info__text--gray
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        
        .member-info__form--bottom
          .member-info__form--next
            %p.member-info__form--go
              「次へ進む」のボタンを押すことにより、
              %a
                = link_to '#', class: "rule" do
                  利用規約
                %storpng.member-info__kind に同意したものとみなします
          .button 
            .member-info__button
              = f.submit:次へ進む, class: "nextbuttun"
              
          .member-info__field--right
            %p.member-info__text--right
              = link_to '#',class: "right-rule" do
                本人情報の登録について>
          .member-info__recaptcha
            %p.member-info__recaptcha--contents
              This site is protected by reCAPTCHA and the Google
              %a
                = link_to '#',class:"recaptha-link" do
                  Privacy Policy
              and 
              %and
                =link_to '#',class:"recaptha-link" do
                  Terms of Service
              apply.
  = render 'shared/user_footer'