.payment-input
  = render 'registration_header_payment'
  .payment-input__container
    = form_for @card, url: registration_complete_registration_index_path, method: :post do |f|
      .payment-input__container__title
        支払い方法
      .payment-input__container__form-name
        カード番号
        %span.required 必須
      .payment-input__container__form
        = f.text_field :number, placeholder: "  半角数字のみ", class: "payment-input-form"
      .payment-card-logo
        = image_tag "visa.svg", class: "card-logo-svg"
        = image_tag "mastercard.svg", class: "card-logo-svg"
        = image_tag "saison.svg", class: "card-logo-svg"
        = image_tag "jcb.svg", class: "card-logo-svg"
        = image_tag "american-express.svg", class: "card-logo-svg"
        = image_tag "diners-club.svg", class: "card-logo-svg"
        = image_tag "discover.svg", class: "card-logo-svg"
      .payment-input__container__form-name
        有効期限
        %span.required 必須
      .payment-input__container__form-select
        .payment-input__container__form-select__month       
          = f.select :month, ０１: "01", ０２: "02", ０３: "03", ０４: "04", ０５: "05", ０６: "06", ０７: "07", ０８: "08", ０９: "09", １０: "10", １１: "11", １２: "12"
          月
        .payment-input__container__form-select__year
          = f.select :year, １９: "19", ２０: "20", ２１: "21", ２２: "22", ２３: "23", ２４: "24", ２５: "25", ２６: "26", ２７: "27", ２８: "28", ２９: "29"
          年
      .payment-input__container__form-name
        セキュリティーコード
        %span.required 必須
      .payment-input__container__form
        = f.text_field :cvc, placeholder: "  カード背面4桁もしくは3桁の番号", class: "payment-input-form"
      .payment-input__containe__back-card
        =link_to "#",class: "back-card" do
          カード裏面の番号とは？
        .payment-input__container__next-btn
        = f.submit :次へ進む, class: "payment-next_btn"
  = render 'shared/user_footer'