.header
  .main-header
    .main-header__top
      .main-header__top__logo
        = link_to root_path do
          = image_tag "/assets/fmarket_logo_red.svg"
      .main-header__top__search
        %input.main-header__top__search__box{placeholder: "何かお探しですか？", type: "text", value: ""}
        %button.main-header__top__search__button
          %i.fa.fa-search
    .main-header__bottom
      .main-header__bottom__left__category
        .main-header__bottom__left__category__left
          .a-category
            %i.fa.fa-bars.headericon
            %a.a-category カテゴリーから探す
        .main-header__bottom__left__category__right
          .a-brand
            %i.fa.fa-tags.headericon
            %a.a-brand ブランドから探す
      .main-header__bottom__left__brand
        .main-header__bottom__left-brand-n
      - if user_signed_in?
        .main-header-bottom-right
          %ul.main-header-bottom-right
            .headerlike1
              %a.headerlike{href:"#"}
                %i.fa.fa-heart-o
                %span.header-bottom-icon いいね一覧
            .headernotice1
              %a.headerlike{href:"#"}
                %i.fa.fa-bell-o
                %span.header-bottom-icon お知らせ
            .headerlist1
              %a.headerlike{href:"#"}
                %i.fa.fa-check
                %span.header-bottom-icon やることリスト
            .headermypage1
              = link_to mypage_index_path , class: "headermypage" do
                = image_tag "/assets/member", class: "header-mypageicon"
                マイページ
      - else
        .main-header__bottom__right
          .main-header__bottom__right__signup
            = link_to '新規会員登録', registration_index_path, method: :get, class: "a-signup"
          .main-header__bottom__right__login
            = link_to 'ログイン', new_user_session_path, class: "a-login"