.header
  .main-header
    .main-header-top
      .main-header-logo
        = link_to root_path do
          = image_tag "fmarket_logo_red.svg"
      .mainheader-logo-search
        %input.mainheader-logo-search-box{placeholder: "何かお探しですか？", type: "text", value: ""}
        %button.mainheader-logo-search-button
          %i.fa.fa-search

    .main-header-bottom
      .main-header-bottom__left 
        .main-header-bottom-leftbox
          .a-category
            %i.fa.fa-bars.headericon
            = link_to "/",class:"a-category" do
              カテゴリーから探す
          .a-brand
            %i.fa.fa-tags.headericon
            = link_to "/",class:"a-brand" do
              ブランドから探す
      .main-header-bottom__right1
      - if user_signed_in?
        %ul.main-header-bottom__right2
          = link_to "/",class: "headerlike" do
            %i.fa.fa-heart-o
            %span.header-bottom-icon いいね一覧
          = link_to "/",class: "headerlike" do
            %i.fa.fa-bell-o
            %span.header-bottom-icon お知らせ
          = link_to "/",class: "headerlike" do
            %i.fa.fa-check
            %span.header-bottom-icon やることリスト
          = link_to mypage_index_path , class: "header-bottom-icon" do
            = image_tag "/assets/member", class: "header-mypageicon"
            マイページ
      - else
        .main-header-bottom__right1
          .main-header-bottom__right1-signup
            = link_to '新規会員登録', signup_index_path, class: "a-signup"
          .main-header-bottom__right1-login
            = link_to 'ログイン', new_user_session_path,method: :get, class: "a-login"


