.mypage_side
  %ul#mypage_side__list
    %li#mypage_side__list__item.active
      マイページ
    %li
      = link_to "#",class: "mypage_side__list__item" do
        お知らせ
    %li
      = link_to "#",class: "mypage_side__list__item" do
        やることリスト
    %li
      = link_to "#",class: "mypage_side__list__item" do
        いいね！一覧
    %li
      = link_to "#",class: "mypage_side__list__item" do
        出品する
    %li
      = link_to "#",class: "mypage_side__list__item" do
        出品出品した商品 - 出品中
    %li
      = link_to "#",class: "mypage_side__list__item" do
        出品出品した商品 - 取引中
    %li
      = link_to "#",class: "mypage_side__list__item" do
        出品出品した商品 - 売却中
    %li
      = link_to "#",class: "mypage_side__list__item" do
        購入した商品 - 取引中
    %li
      = link_to "#",class: "mypage_side__list__item" do
        購入した商品 - 過去の過去の取引
    %li
      = link_to "#",class: "mypage_side__list__item" do
        ニュース一覧
    %li
      = link_to "#",class: "mypage_side__list__item" do
        評価一覧
    %li
      = link_to "#",class: "mypage_side__list__item" do
        ガイド
    %li
      = link_to "#",class: "mypage_side__list__item" do
        お問い合わせ