.payment-input
  = render 'registration_header'
  .payment-input__container
    .payment-input__container__title
      支払い方法
    .payment-input__container__form-name
      カード番号
      %span.required 必須
    .payment-input__container__form
      %form{:action => "/form.php",:method => "post"}
      %input#payment-input{:name => "fast-name", :type => "text", placeholder: '  半角数字のみ'}
    .payment-card-logo
      = image_tag "/assets/visa.svg", class: "card-logo-svg"
      = image_tag "/assets/mastercard.svg", class: "card-logo-svg"
      = image_tag "/assets/saison.svg", class: "card-logo-svg"
      = image_tag "/assets/jcb.svg", class: "card-logo-svg"
      = image_tag "/assets/american-express.svg", class: "card-logo-svg"
      = image_tag "/assets/diners-club.svg", class: "card-logo-svg"
      = image_tag "/assets/discover.svg", class: "card-logo-svg"
    .payment-input__container__form-name
      有効期限
      %span.required 必須
    .payment-input__container__form-select
      .payment-input__container__form-select__month
        %select#payment-expiration__detail{:name => "month"}
          %option{:value => ""} 01
        月
      .payment-input__container__form-select__year
        %select#payment-expiration__detail{:name => "year"}
          %option{:value => ""} 19
        年
    .payment-input__container__form-name
      セキュリティーコード
      %span.required 必須
    .payment-input__container__form
      %form{:action => "/form.php", :method => "post"}
      %input#payment-input{:name => "city", :type => "text", placeholder: '  カード背面4桁もしくは3桁の番号'}
    .payment-input__containe__back-card
      =link_to "#",class: "back-card" do
        カード裏面の番号とは？
      .payment-input__container__next-btn
      =link_to "#",class: "payment-next_btn" do
        次へ進む
  = render 'user_footer'