= render 'shared/user_header'
.login_forget
 .login_forget__container
  .login_forget__container__title
   パスワードをお忘れの方
  .login_forget__container__mail_address
   メールアドレス
   = form_with(model:@adress) do |f|
    .login_forget__container__mail_address_form
    = f.email_field :email, placeholder: "ご登録されたメールアドレス", class: "mail_address"
    .login_forget__container__mail_address_text
     ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
    .login_forget__container__robot
    %script{async: "#", defer: "", :src => "https://www.google.com/recaptcha/api.js"}
    %form{action:  "./verify.php", method: "POST"}
    .g-recaptcha{"data-sitekey": "サイトキー"}
    .login_forget__container__send_btn
    = f.submit :送信する, class: "send-btn"
= render 'shared/user_footer'


