= render "shared/user_header"
.login-page
  .login-page__registration-new
    アカウントをお持ちでない方はこちら
    .login-page__registration-new__new-btn
      =link_to registration_information_registration_index_path, method: :get, class: "registration-new_btn" do
        新規会員登録
  .login-page__container
    .login-page__container__login-facebook
      =link_to "/",class: "login-facebook_btn" do
        %i.fab.fa-facebook-square
        %div#login-facebook
          Facebookでログイン
      .login-page__container__login-google
        =link_to "/",class: "login-google_btn" do
          = image_tag "google-search.svg", class: "google_svg"
          %div#login-google
            googleでログイン
    .login-page__container__form
      = form_with(model:@user, url: new_user_session_path) do |f|
        = f.email_field :email, placeholder: "  メールアドレス", class: "login-input"
        = f.password_field :password, placeholder: "  パスワード", class: "login-input"
    .login-page__container__robot
      %script{async: "#", defer: "", src: "https://www.google.com/recaptcha/api.js"}
      %form{action: "./verify.php", method: "POST"}
      .g-recaptcha{"data-sitekey":"サイトキー"}
    .registration-complete__container__start-btn
      =link_to root_path,class: "start-btn" do
        ログイン
    .login-page__container__forget
      =link_to "#",class: "forget" do
        パスワードをお忘れの方
  = render 'shared/user_footer'