- @images.each do |img|

  %div.thumb-item
    %div
      = image_tag @image.image.url, class: 'owl-stage-outer', size: '300x300'
    %div
      = image_tag "member.png", class: 'owl-stage-outer', size: '300x300'
    %div
      = image_tag "testimage.jpg", class: 'owl-stage-outer', size: '300x300'
  %div.thumb-item-nav
    %div.item_carusel
      = image_tag img.image.url, class: 'owl-stage-outer-sub', size: '60x60'
    %div.item_carusel
      = image_tag "member.png", class: 'owl-stage-outer-sub', size: '60x60'
    %div.item_carusel
      = image_tag "testimage.jpg", class: 'owl-stage-outer-sub', size: '60x60'

