%section.itembuy-content
  %h1.itembuy-content__name
    = @item.name
  .itembuy-content__clearfix
    .itembuy-content__photo
      = render "item_carusel"
    %table.itembuy-content__table
      %tbody
        %tr
          %th.thcategory 出品者
          %td.tdcategory
            = link_to root_path , class:'tdcategory-name' do
              nickname
            %div
              .itembuy-user-evaluation-smile
                %i.fa.fa-smile-o
                %span.evaluation-icon 999
              .itembuy-user-evaluation
                %i.fa.fa-meh-o
                %span.evaluation-icon 999
              .itembuy-user-evaluation
                %i.fa.fa-frown-o
                %span.evaluation-icon 999
        %tr
          %th.thcategory カテゴリー
          %td.tdcategory
            = link_to  root_path ,class: "link_color"do
              = @category.name
        %tr
          %th.thcategory  ブランド
          %td.tdcategory
            = link_to root_path,class: "link_color" do
              = @brand.name
        %tr
          %th.thcategory 商品の状態
          %td.tdcategory
            = @item.status
        %tr
          %th.thcategory 配送料の負担
          %td.tdcategory
            =@item.burden
        %tr
          %th.thcategory 配送の方法
          %td.tdcategory
            = @item.send_method
        %tr
          %th.thcategory 配送元地域
          %td.tdcategory
            = link_to root_path ,class: "link_color"do
              = @item.region
        %tr
          %th.thcategory 発送日の目安
          %td.tdcategory
            = @item.date
  .itembuy-content__price
    %span.itembuy-content__bold
      ¥
      = @item.price
      
    %span.itembuy-content__tax (税込)
    %span.itembuy-content__taxfee
      送料込み
  .itembuy-price-box
    = link_to root_path ,class: 'itembuy-price-box' do
      購入画面に進む
  .itembuy-detail
    %p.itembuy-detail__coments
      = @item.description
      
  .itembuy-button
    .itembuy-button__left
      %button{ type: 'button', name: 'iine', class: 'i fa fa-heart' }
        %span.itembuy-button-like いいね! 999
      = link_to root_path do
        %i.fa.fa-flag
          %span 不適切な商品の報告
    .itembuy-button__right
      = link_to root_path ,class: "link_color"do
        %i.fa.fa-shopping-bag
          %span あんしん・あんぜんへの取り組み
.itembuy-content-box
  .itembuy-detail-message
    .itembuy-content__comment
      %form.itembuy-message__form
        %p.form-messeage-coments 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.form-messeage-textarea
        %button.form-messeage-button
          %span コメントする
%ul.itembuy-nav
  %li.itembuy-nav__left
    = link_to root_path,class: "link_color" do
      %i.fa.fa-chevron-left
      左ブランド
  %li.itembuy-nav__right
    = link_to root_path,class: "link_color" do
      右ブランド
      %i.fa.fa-chevron-right
.itembuy-media-box
  %ul.itembuy-media-box__list
    %li.itembuy-media-boxli
      = link_to root_path do
        %i.fa.fa-facebook-square
    %li.itembuy-media-boxli
      = link_to root_path do
        %i.fa.fa-twitter-square
    %li.itembuy-media-boxli
      = link_to root_path do
        %i.fa.fa-pinterest-square
.itembuy-user-profile
  %h2.itembuy-user-profile__head
    = link_to root_path do
      g64さんのその他の出品
  .itembuy-user-profile__content
    .itembuy-user-profile__box
      %section.itembuy-user-profile__items
        = link_to root_path do
          = image_tag "/assets/testimage.jpg", size: '220x220'
          .itembuy-user-profile__body
            %h3.itembuy-user-profile__name
              g64
            .itembuy-user-profile__num
              .itembuy-user-profile__price
                1000
              .itembuy-user-profile__btn
                %i.fa.fa-heart-o.showheart
                .itembuy-user-profile__like
                  1
    .itembuy-user-profile__box
      %section.itembuy-user-profile__items
        = link_to root_path do
          = image_tag "/assets/testimage.jpg", size: '220x220'
          .itembuy-user-profile__body
            %h3.itembuy-user-profile__name
              g64
            .itembuy-user-profile__num
              .itembuy-user-profile__price
                1000
              .itembuy-user-profile__btn
                %i.fa.fa-heart-o.showheart
                .itembuy-user-profile__like
                  1
    .itembuy-user-profile__box
      %section.itembuy-user-profile__items
        = link_to root_path do
          = image_tag "/assets/testimage.jpg", size: '220x220'
          .itembuy-user-profile__body
            %h3.itembuy-user-profile__name
              g64
            .itembuy-user-profile__num
              .itembuy-user-profile__price
                1000
              .itembuy-user-profile__btn
                %i.fa.fa-heart-o.showheart
                .itembuy-user-profile__like
                  1
    .itembuy-user-profile__box
      %section.itembuy-user-profile__items
        = link_to root_path do
          = image_tag "/assets/testimage.jpg", size: '220x220'
          .itembuy-user-profile__body
            %h3.itembuy-user-profile__name
              g64
            .itembuy-user-profile__num
              .itembuy-user-profile__price
                1000
              .itembuy-user-profile__btn
                %i.fa.fa-heart-o.showheart
                .itembuy-user-profile__like
                  1