.mypage-payment-input
  .payment-input__container
    = form_with(model:@card, url: registration_complete_registration_index_path, method: :get, local: true) do |f|
      .payment-input__container__title
        支払い方法
      .payment-input__container__form-name
        カード番号
        %span.require 必須
      .payment-input__container__form
        = f.text_field :card_number, placeholder: "  半角数字のみ", class: "payment-input-form"
      .payment-card-logo
        = image_tag "visa.svg", class: "card-logo-svg"
        = image_tag "mastercard.svg", class: "card-logo-svg"
        = image_tag "saison.svg", class: "card-logo-svg"
        = image_tag "jcb.svg", class: "card-logo-svg"
        = image_tag "american-express.svg", class: "card-logo-svg"
        = image_tag "diners-club.svg", class: "card-logo-svg"
        = image_tag "discover.svg", class: "card-logo-svg"
      .payment-input__container__form-name
        有効期限
        %span.require 必須
      .payment-input__container__form-select
        .payment-input__container__form-select__month       
          = f.select :payment_expiration__detail, ０１: ""
          月
        .payment-input__container__form-select__year
          = f.select :payment_expiration__detail, １９: ""
          年
      .payment-input__container__form-name
        セキュリティーコード
        %span.require 必須
      .payment-input__container__form
        = f.text_field :cvc_number, placeholder: "  カード背面4桁もしくは3桁の番号", class: "payment-input-form"
      .payment-input__containe__back-card
        =link_to "#",class: "back-card" do
          カード裏面の番号とは？
        .payment-input__container__next-btn
        = f.submit :次へ進む, class: "payment-next_btn"