%selection#mypage-tab-container-notification-todo
  %ul#mypage_tabs
    %li#my_list
      = link_to "#", class: "my-notice" do
        お知らせ
      #mypage-message
        = link_to "#", class: "my_message" do
          ログインのお知らせ
    %li:active#my_list
      = link_to "#", class: "my-notice" do
        やることリスト
      #mypage-message
        = link_to "#", class: "my_message" do
          ログインのお知らせ

%ul#mypage-todo
  %li#mypage-message
    = link_to "#", class: "my_message" do
      ログインのお知らせ
  %li#mypage-go-list
    = link_to "#", class: "summary" do
      一覧を見る
